pre {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none; /* Initially hidden */
    margin-top: 10px;
    width: 100%; /* Stretch to full width */
}
code {
    font-family: Consolas, "Courier New", monospace;
    color: #d63384;
}
header {
    background-color: #828282;
    color: rgb(255, 255, 255);
    padding: 5px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 50px; /* Adjusted height */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Extend to the very outer edge */
    margin-left: calc(-50vw + 50%); /* Remove white space gaps */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
footer {
    background-color: #000000;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 10px; /* 1/3 the size of the header */
    font-weight: bold;
    height: 16.67px; /* 1/3 the height of the header */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
